.boxButtons {
  display: flex;
}
.boxButtons button {
  margin: 10px;
}


.boxTest {

  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  scrollbar-width: none;
}

.boxSide {
  border: 2px solid orange;
}
.boxWindow span {


  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.boxWindow fieldset {
  background-color: rgba(105, 105, 105, 0);

  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}


