
.boxButtons{
    display: flex;
    margin-top: 50px;
    justify-content: end;
    align-items: end;

    
  
}
.boxButtons button{
   margin: 10px;

  
}
.boxTitleLogo{
    padding-bottom: 50px;
    color: gray;
}






